@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model EPiServerMvcSite.Models.Blocks.SampleBlock

<div>
    @Html.PropertyFor(m => m.TestMe)
</div>
@*<div>
    @Html.PropertyFor(m => m.Body)
</div>*@
