<?xml version="1.0" encoding="utf-8"?>
<module loadLocalBin="false" clientResourceRelativePath="1.0.431" helpFile="http://webhelp.episerver.com/cms/7.0/{culture}/Default_csh.htm" type="EPiServer.Cms.Shell.CmsModule, EPiServer.Cms.Shell.UI">
  <assemblies>
    <add assembly="EPiServer.Cms.Shell.UI" />
    <add assembly="EPiServer.UI" />
    <add assembly="EPiServer" />
  </assemblies>
  <routes>
    <route controllerPrefix="EPi">
      <defaults>
        <add key="controller" value="Home" />
        <add key="action" value="Index" />
        <add key="id" value="" />
      </defaults>
    </route>
  </routes>
  <clientResources>
    <add name="navigation" path="ClientResources/ReportCenter/ReportCenter.js" resourceType="Script" />
    <add name="epi.cms.widgets.base" path="ClientResources/EPi/Cms/epi.css" resourceType="Style" />
    <add name="epi.cms.widgets.base" path="ClientResources/EPi/Cms/ResourceBundle.js" resourceType="Script" />
    <add name="epi.cms.widgets.base" path="ClientResources/EPi/Cms/widgets.js" resourceType="Script" />
  </clientResources>
  <dojoModules>
    <add name="epi/cms" path="ClientResources/EPi/Cms" />
  </dojoModules>
  <clientModule initializer="epi.cms.CMSModule">
    <moduleDependencies>
      <add dependency="Shell" />
    </moduleDependencies>
    <requiredResources>
      <add name="epi.cms.widgets.base" />
      <add name="navigation" />
    </requiredResources>
  </clientModule>
</module>