<?xml version="1.0" encoding="utf-8"?>
<module productName="OnlineCenter" clientResourceRelativePath="1.0.456" loadFromBin="false" helpFile="http://webhelp.episerver.com/platform/7.0/{culture}/Default_csh.htm">
  <assemblies>
    <add assembly="EPiServer.Shell" />
    <add assembly="EPiServer.Shell.UI" />
    <add assembly="EPiServer.ApplicationModules" />
  </assemblies>
  <routes>
    <route controllerPrefix="EPi">
      <defaults>
        <add key="moduleArea" value="Shell" />
        <add key="controller" value="Dashboard" />
        <add key="action" value="Index" />
        <add key="id" value="" />
      </defaults>
    </route>
  </routes>
  <clientResources>
    <add name="epi.shell.ui" path="ClientResources/epi/themes/sleek/document.css" resourceType="Style" />
    <add name="epi.shell.ui" path="ClientResources/epi/themes/sleek/sleek.css" resourceType="Style" />
    <add name="epi.shell.ui" path="ClientResources/epi/shell/ResourceBundle.js" resourceType="Script" />
    <add name="epi.shell.ui" path="ClientResources/epi/patches.js" resourceType="Script" />
    <add name="epi.shell.ui" path="ClientResources/epi/shell/widgets.js" resourceType="Script" />
    <add name="epi.cms.visitorgroups.ui" path="ClientResources/epi/visitorgroup-widgets.js" resourceType="Script" />
  </clientResources>
  <dojoModules>
    <add name="epi" path="ClientResources/EPi" />
    <add name="dgrid" path="ClientResources/lib/dgrid" />
    <add name="put-selector" path="ClientResources/lib/put-selector" />
    <add name="xstyle" path="ClientResources/lib/xstyle" />
  </dojoModules>
  <clientModule initializer="epi.shell.ShellModule">
    <requiredResources>
      <add name="epi.shell.ui" />
    </requiredResources>
  </clientModule>
</module>