<connectionStrings>
  <clear />
  <add name="EPiServerDB" connectionString="Data Source=PC-MRO\SQLEXPRESS;Initial Catalog=dbEPiServerMvcSite;Integrated Security=False;User ID=dbUserdbEPiServerMvcSite;Password=33@F4q6933;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
</connectionStrings>