<episerver xmlns="http://EPiServer.Configuration.EPiServerSection">
  <sites>
    <site description="Example Site" siteId="EPiServerMvcSite">
      <siteSettings httpCacheVaryByCustom="path" httpCacheVaryByParams="id,epslanguage"
        httpCacheability="Public" urlRebaseKind="ToRootRelative" uiShowGlobalizationUserInterface="true"
        pageRootId="1" pageStartId="4" pageWastebasketId="2" pageValidateTemplate="false"
        siteUrl="http://pc-mro:37001/" uiUrl="~/EPiServer/CMS/" utilUrl="~/util/"
        siteDisplayName="Site Display Name" pageFolderVirtualPathProvider="SitePageFiles"
        globalBlockFolderId="3" siteBlockFolderId="3" />
    </site>
  </sites>
  <workflowSettings>
    <workflowHost type="EPiServer.WorkflowFoundation.AspNetWorkflowManager,EPiServer.WorkflowFoundation" />
    <externalServices>
      <externalService type="EPiServer.WorkflowFoundation.Workflows.ApprovalService,EPiServer.WorkflowFoundation" />
      <externalService type="EPiServer.WorkflowFoundation.Workflows.ReadyForTranslationService,EPiServer.WorkflowFoundation" />
      <externalService type="EPiServer.WorkflowFoundation.Workflows.RequestForFeedbackService,EPiServer.WorkflowFoundation" />
    </externalServices>
  </workflowSettings>
</episerver>