<episerver.framework>
  <scanAssembly forceBinFolderScan="true" />
  <siteHostMapping>
    <siteHosts siteId="EPiServerMvcSite">
      <clear />
      <add name="*" />
      <add name="pc-mro:37001" />
    </siteHosts>
  </siteHostMapping>
  <automaticSiteMapping>
    <add key="/LM/W3SVC/7/ROOT:PC-MRO" siteId="EPiServerMvcSite" />
  </automaticSiteMapping>
  <virtualPathProviders>
    <clear />
    <add virtualPath="~/EPiServer/" physicalPath="[appDataPath]\Modules"
      name="ProtectedAddons" type="EPiServer.Web.Hosting.VirtualPathNonUnifiedProvider, EPiServer.Framework" />
    <add showInFileManager="true" virtualName="Page Files" virtualPath="~/PageFiles/"
      bypassAccessCheck="false" indexingServiceCatalog="Web" useRouting="true"
      customFileSummary="~/FileSummary.config" name="SitePageFiles"
      type="EPiServer.Web.Hosting.VirtualPathVersioningProvider, EPiServer" />
    <add showInFileManager="true" virtualName="Global Files" virtualPath="~/Global/"
      bypassAccessCheck="false" indexingServiceCatalog="Web" useRouting="true"
      customFileSummary="~/FileSummary.config" name="SiteGlobalFiles"
      type="EPiServer.Web.Hosting.VirtualPathVersioningProvider, EPiServer" />
    <add showInFileManager="true" virtualName="Documents" virtualPath="~/Documents/"
      bypassAccessCheck="false" maxVersions="5" useRouting="true"
      customFileSummary="~/FileSummary.config" name="SiteDocuments"
      type="EPiServer.Web.Hosting.VirtualPathVersioningProvider, EPiServer" />
    <add virtualPath="~/App_Themes/Default/" physicalPath="C:\Program Files (x86)\EPiServer\CMS\7.0.586.1\application\App_Themes\Default"
      useRouting="true" name="App_Themes_Default" type="EPiServer.Web.Hosting.VirtualPathNonUnifiedProvider, EPiServer.Framework" />
    <add virtualPath="~/EPiServer/CMS/" physicalPath="C:\Program Files (x86)\EPiServer\CMS\7.0.586.1\application\UI\CMS"
      name="UI" type="EPiServer.Web.Hosting.VirtualPathNonUnifiedProvider, EPiServer.Framework" />
    <add virtualPath="~/Util/" physicalPath="C:\Program Files (x86)\EPiServer\CMS\7.0.586.1\application\util"
      name="UtilFiles" type="EPiServer.Web.Hosting.VirtualPathNonUnifiedProvider, EPiServer.Framework" />
    <add virtualPath="~/WebServices/" physicalPath="C:\Program Files (x86)\EPiServer\CMS\7.0.586.1\application\webservices"
      name="WebServiceFiles" type="EPiServer.Web.Hosting.VirtualPathNonUnifiedProvider, EPiServer.Framework" />
  </virtualPathProviders>
  <virtualRoles replacePrincipal="true">
    <providers>
      <add name="Administrators" type="EPiServer.Security.WindowsAdministratorsRole, EPiServer.Framework" />
      <add name="Everyone" type="EPiServer.Security.EveryoneRole, EPiServer.Framework" />
      <add name="Authenticated" type="EPiServer.Security.AuthenticatedRole, EPiServer.Framework" />
      <add name="Anonymous" type="EPiServer.Security.AnonymousRole, EPiServer.Framework" />
      <add roles="WebAdmins, Administrators" mode="Any" name="PackagingAdmins"
        type="EPiServer.Security.MappedRole, EPiServer.Framework" />
      <add roles="WebAdmins, Administrators" mode="Any" name="CmsAdmins"
        type="EPiServer.Security.MappedRole, EPiServer.Framework" />
      <add roles="WebEditors" mode="Any" name="CmsEditors" type="EPiServer.Security.MappedRole, EPiServer.Framework" />
      <add name="Creator" type="EPiServer.Security.CreatorRole, EPiServer" />
    </providers>
  </virtualRoles>
  <geolocation defaultProvider="maxmind">
    <providers>
      <add databaseFileName="C:\Program Files (x86)\EPiServer\Framework\7.0.859.1\Geolocation\GeoLiteCity.dat"
        name="maxmind" type="EPiServer.Personalization.Providers.MaxMind.GeolocationProvider, EPiServer.ApplicationModules" />
    </providers>
  </geolocation>
  <appData basePath="..\AppData" />
</episerver.framework>