<root xmlns:xforms="http://www.w3.org/2002/xforms" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <model>
    <instance>
      <Author />
      <Publisher />
      <DocumentType />
      <Category />
      <Description />
    </instance>
  </model>
  <div class="epi-formArea">
    <div class="epi-size5">
      <xforms:input class="epi-size20" ref="Author">
        <xforms:label>Author</xforms:label>
      </xforms:input>
    </div>
    <div class="epi-size5">
      <xforms:input class="epi-size20" ref="Publisher">
        <xforms:label>Publisher</xforms:label>
      </xforms:input>
    </div>
    <div class="epi-indent5">
      <xforms:select1 appearance="full" ref="DocumentType">
        <xforms:label>Type of document</xforms:label>
        <xforms:item>
          <xforms:label>Whitepaper</xforms:label>
          <xforms:value>Whitepaper</xforms:value>
        </xforms:item>
        <xforms:item>
          <xforms:label>Technote</xforms:label>
          <xforms:value>Technote</xforms:value>
        </xforms:item>
        <xforms:item>
          <xforms:label>Manual</xforms:label>
          <xforms:value>Manual</xforms:value>
        </xforms:item>
      </xforms:select1>
    </div>

    <div class="epi-indent5">
      <xforms:select appearance="full" ref="Category">
        <xforms:label>Category</xforms:label>
        <xforms:item>
          <xforms:label>Product1</xforms:label>
          <xforms:value>Product1</xforms:value>
        </xforms:item>
        <xforms:item>
          <xforms:label>Product2</xforms:label>
          <xforms:value>Product2</xforms:value>
        </xforms:item>
        <xforms:item>
          <xforms:label>Product3</xforms:label>
          <xforms:value>Product3</xforms:value>
        </xforms:item>
      </xforms:select>
    </div>
    <div class="epi-size5">
      <xforms:textarea class="epi-size20" rows="6" cols="38" ref="Description">
        <xforms:label>Description</xforms:label>
      </xforms:textarea>
    </div>
  </div>
</root>