<div class="dojoDndItem epi-overlay-block">
    <div data-dojo-attach-point="containerDomNode"></div>
    <button data-dojo-attach-point="settingsButton" data-dojo-type="dijit.form.DropDownButton" 
        data-dojo-props="showLabel:false, title:'${res.settingstooltip}', iconClass:'epi-iconContextMenu', 'class':'epi-chromelessButton epi-overlayControls epi-settingsButton epi-mediumButton'">
        <div data-dojo-attach-point="contextMenu" data-dojo-type="epi.cms.widget.BlockContextMenu"></div>
    </button>
</div>